 <div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i><br>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>HTML/CSS | Phososhop/Illustrator 를 주로 사용하고<br> BootStrap도 연습하고있습니다.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i><br>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>JS | REACT | NODEJS | JAVA</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-tomcat-line-wordmark"></i>
      <p>GIT | TOMCAT</p>
    </div>
</div>
