<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/index.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HyoungStore </h3>
    <p>대학교를 졸업하기전 캡스톤 작품으로 남성 옷 쇼핑몰을 만들었습니다. FE/BE/Design을 담당했습니다.</p>
    <a class="project-link" href="https://github.com/HyoungStore/.github/blob/main/profile/README.md">바로가기</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/index2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HJ.Trip </h3>
    <p>학원에서 배운 내용을 토대로 여행사이트를 제작중입니다. </p>
    <a class="project-link" href="#">바로가기</a>
  </div>
</div>
